<h1>Listing Running Details</h1>

<table id="schedule-running-details">
  <tbody>
      <thead>
          <tr>
            <th>URL</th>
            <th>Verb</th>
            <th>Request Type</th>
            <th>Scheduled On</th>
            <th>Timeout</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Actual Status</th>
          </tr>
      </thead>
  </tbody>
</table>