<h4 class="heading"> URL Listings </h4>
<center>
<table id="url-request-response" class="table span8 table-hover table-responsive">
  <tbody>
    <tr>
     <th>URL</th>
     <th>Verb</th>
     <th>Timeout</th>     
     <th>Object</th>
     <th colspan="2" style="text-align: center;">Actions</th>
    </tr>
  </tbody>
</table>
</center>
<a href="#new" class="span8 btn btn-link left">Add New URL</a>