<table>
  <tbody>
    <tr>
     <th>URL</th>
     <th>Verb</th>
     <th>Request Header</th>
     <th>Request Body</th>
     <th>Response Header</th>
     <th>Response Body</th>
     <th>Timeout</th>     
     <th>Object</th>
    </tr>
  </tbody>
</table>

<a href="#new">New URL</a>