<!-- Modal -->
  <div class="modal" id="new-url-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="alert alert-error" id="error-message-container" style="display: none;">  
            <strong>Error!</strong><div id="input-error"></div>  
          </div>
          <a href="#index" class="close close-new-url-modal" data-dismiss="modal" aria-hidden="true">&times;</a>
          <h4 class="modal-title">New URL Schedule</h4>
        </div>
        <div class="modal-body">
            <form id="new-url_request_response" name="url_request_response" role="form">
                <div class="form-group">
                  <label class="label-style" for="url"> URL</label>
                  <input data-input-group="new-schedule" data-req-message="Url is required" data-secondary-check="url" class="validate form-control max-width" type="text" name="url" id="url" >
                </div>

                <div class="form-group">
                  <label class="label-style" for="http_verb"> Verb</label>    
                  <select class="form-control max-width" name="http_verb" id="http_verb">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>      
                  </select> 
                </div>
                <div><a href="javascript:void(0)" class="add_request_headers">Add another request header</a></div>
                <div class="form-group">
                  <label class="label-style" for="request_header"> Key</label>
                  <label class="label-style" for="request_header"> Value</label>                  
                </div>
                <div id="request_headers_main">
                  <div class="form-group request_headers_div" index_val = 0>
                    <input data-input-group="new-schedule" data-req-message="Request header key is required" type="text" class="validate form-control" name="request_header_key_0" id="request_header_key_0"/>
                    <input data-input-group="new-schedule" data-req-message="Request header value is required" type="text" class="validate form-control" name="request_header_value_0" id="request_header_value_0" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="label-style" for="request_body"> Request Body</label>
                  <textarea data-input-group="new-schedule" data-req-message="Request body is required" class="validate form-control max-width" name="request_body" id="request_body" />
                </div>

                <div class="form-group">
                  <label class="label-style" for="expected_response_header"> Expected Response Header</label>
                  <textarea data-input-group="new-schedule" data-req-message="Expected response header is required" class="validate form-control max-width" name="expected_response_header" id="expected_response_header" />
                </div>

                <div class="form-group">
                  <label class="label-style" for="expected_response_body"> Expected Response Body</label>
                  <textarea data-input-group="new-schedule" data-req-message="Expected Response Body is required" class="validate form-control max-width" name="expected_response_body" id="expected_response_body" />
                </div>
                <div class="well">
                  <label class="label-style" for="time_to_run"> Time to run</label>
                  <div id="datetimepicker1" class="input-append">
                    <input data-input-group="new-schedule" data-req-message="Time to run is required" data-format="MM/dd/yyyy HH:mm:ss PP" id="time_to_run" type="text" class="validate"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label-style" for="timeout"> Timeout</label>
                  <input data-input-group="new-schedule" data-secondary-check="onlyNumbers" data-req-message="Timeout is required" type="text" class="validate form-control max-width" name="timeout" id="timeout" >
                </div>

                <div class="form-group">
                  <label class="label-style" for="object_type">Object</label>
                  <select class="form-control max-width" name="object_type" id="object_type">
                    <option value="JSON">JSON</option>      
                  </select>
                </div>
                <input type="submit" value="Create URL" class="new-schedule-validate btn btn-default validate validate"/>
              </form>
          </div>
        <div class="modal-footer">
          <a href="#index" class="close-new-url-modal btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
