<h1>New URL</h1>

<form id="new-url_request_response" name="url_request_response">
  <div class="field">
    <label for="url"> URL:</label>
    <input type="text" name="url" id="url" >
  </div>

  <div class="field">
    <label for="http_verb"> Verb:</label>
    <input type="text" name="http_verb" id="http_verb">
  </div>

  <div class="field">
    <label for="timeout"> Timeout:</label>
    <input type="text" name="timeout" id="timeout" >
  </div>

  <div class="field">
    <label for="object_type"> Object:</label>
    <input type="text" name="object_type" id="object_type" >
  </div>

  <div class="actions">
    <input type="submit" value="Create URL" />
  </div>

</form>

<a href="#index">Back</a>
