<div class="well well-lg" style="margin-top: 15px;  margin-left: 15px;">
<p style="margin-left: 100px;float: left;margin-top: 15px;">
  <b>URL:</b>
  <%= url %>
</p>

<p style="margin-left: 100px;float: left;margin-top: 15px;">
  <b>Verb:</b>
  <%= http_verb %>
</p>
</div>
<a href="#/index">Back</a>